html{ font-family: sans-serif; }
div{ 
  display: flex; 
  align-items: center;
} 
img{ 
  height: 100%;
} 
span{
  text-align: center;
  width: 25px;
} 
span, img{
  padding: 10px
}
label{
text-align: left; width: 100px;
}
hr{
  border-top: 1px dashed #d6d6d6;
  margin: 2px;  
  width: 600px;
}
div{
  height: 2.1rem;
}
.head{
    width: 630px;
    background-color:#d6d6d6;
    font-weight: bold;
    margin-bottom: 5px;
}